body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #4b0082, #000);
    padding: 40px;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

.sub {
    font-size: 18px;
    opacity: .8;
}

section {
    padding: 20px;
    margin: 20px;
    background: #111;
    border-radius: 8px;
}

h2 {
    color: #b673ff;
}

a {
    color: #b673ff;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
}
